@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    background-color: white;
    border-bottom: none;
    border-top: none;
    z-index: 10;
    display: none;
    left: 0;
    right: 0;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tag{
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
}

.section-header {
    border-width: 0px;
    border-left-width: 3px;
    border-style: solid;
    border-color: var(--primary-color);
}

.more-link {
    color: var(--primary-color);
}

.thumbnail {
    border-radius: 30px;
    height: 128px;
    width: 128px;
}

.review-card {
    height: 140px;
    min-width: 336px;
    width: 336px;
}

.review-thumbnail{
    height: 50px;
    width: 50px;
}

.review-profile-pic{
    width: 22px;
    width: 22px;
    border-radius: 50%;
}

.fa-star{
    color: grey;
}

.star-checked {
    color: var(--primary-color);
}

.video-img {
    height: 150px;
    width: 336px;
}

.hover-text {
    top: 100%;
    width: 100%;
    position: absolute;
    color: white;
    background-color: var(--primary-color);
}

.hover-img {
    min-width: 128px;
    min-height: 128px;
    width: 128px;
    height: 128px;
}

.hover-img .hover-text{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: top 0.2s ease-out;
}
.hover-img:hover .hover-text{
    top:78%;
}