:root{
    --primary-color: #15C5CE
}

@font-face {
    font-family: "games";
    src: url('../fonts/Righteous-Regular.ttf');
}

html, body {
    height:100vh;
    margin: 0px;
}

/* html {
    background-color: rgb(182, 179, 179);
} */

body {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 70px 1fr;
    position: relative;
    background-color: #f8f9fa;
}

.nav-btn {
    border-radius: 20px;
    text-align: left;
    border-width: 0px;
    width: 100%;
}

.nav-logo{
    color: var(--primary-color);
    font-family: "games";
}

.nav-btn:hover{
    color: black;
    background-color: #c4c3c3;
}

.nav-btn-active{
    color: var(--primary-color);
    background-color: white;
}

.nav-top {
    grid-row: 1/2;
    grid-column: 2/2;
}

.search {
    border-radius: 20px;
}

.content {
    max-width: calc(100vw - 240px);
    grid-row: 2/2;
    grid-column: 2/2;
}