:root{
    --primary-color: #15C5CE
}

@font-face {
    font-family: "games";
    src: url('../fonts/Righteous-Regular.ttf');
}

html, body {
    height:100%;
    margin: 0px;
}

body {
    position: relative;
    background-color: #f8f9fa;
}

.search {
    justify-self: center;
}

.cnt {
    display: grid;
    grid-template-columns: 384px 1184px;
    position: absolute;
    top:88px;
}

.main {
    grid-column: 2/2;
    display:inline-block; 
    margin-left: 15px;
    margin-right: 144px;
    overflow-x: auto;
    width: 1040px;
}

.left {
    grid-column: 1/2;
    width: 384px;
    height:100vh; 
    position: sticky;
    top: 46px; 
    padding-top: 42px;
    z-index: 10000;
    position: fixed;
    margin-left: 15px;
}

.nav-btn {
    padding: 0px;
    width: 232px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    text-align: left;
}

.nav-logo{
    color: var(--primary-color);
    font-family: "games";
}

.nav-btn:hover{
    color: #1D2127;
    background: #DADADA;
}

.nav-btn-active{
    color: var(--primary-color);
    background-color: white;
}

.nav-img{
    width: 26px;
    height: 26px;
    margin-left: 16px;
    margin-bottom: 5px;
    margin-right: 13px;
}

.search {
    border-radius: 20px;
}